.modal {
  width: clamp(20rem, 40%, 25rem) !important;
}

.btn_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(10rem, 30%, 15rem);
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 1rem;
}
