.body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: max(2rem, 3vw); */
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.body a {
  padding-inline: 1rem;
  border-right: 1px solid royalblue;
  transition: 0.2s;
}

.body a:last-child {
  border-right: none;
}

.body a:hover {
  color: #fff;
}
