.noPosition {
  position: unset !important;
}

.title {
  font-size: 3rem;
  color: var(--clr-primary);
  font-weight: 600;
  font-family: var(--ff-secondary);
  transition: 0.2s;
}

.navbarBody {
  background: linear-gradient(90deg, #8ecae6 0%, #ffb703 100%);
}

.navBody a {
  color: var(--clr-primary);
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.2s;
}

.title:hover,
.navBody a:hover {
  color: var(--clr-secondary);
}
