.body {
}

.btn_add_note {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--clr-primary);
  padding: 1rem;
}

.note_grid_row {
  width: 100%;
}

h4 {
  text-align: center;
  font-weight: 400;
  color: #333;
}

@media (max-width: 576px) {
  .btn_add_note {
    align-self: unset;
    margin-right: 0;
  }
}
