:root {
  /* Color Set */
  --clr-1: #8ecae6;
  --clr-2: #219ebc;
  --clr-3: #023047;
  --clr-4: #ffb703;
  --clr-5: #fb8500;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  transition: 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: var(--z-content);
}

.body::before,
.body::after {
  content: "";
  position: absolute;
  inset: -0.25rem;
  transform: translateZ(-1rem);
  background: rgba(0, 0, 0, 0.1);
  filter: blur(0.5rem);
  border-radius: inherit;
  animation: animate 2s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes animate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@media (min-width: 576px) {
  .body:hover::before,
  .body:hover::after {
    background: conic-gradient(
      from var(--angle),
      var(--clr-1),
      var(--clr-2),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5)
    );
    filter: blur(1rem);
  }

  .body:hover {
    position: absolute;
    max-width: 20rem;
    min-height: 20rem;
    height: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    z-index: calc(var(--z-content) + var(--z-above));
  }
}

.title {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text {
  font-size: 1.75rem;
  font-family: var(--ff-secondary);
  margin-bottom: 1rem;
  white-space: pre-line;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.body:hover .text,
.body:hover .title {
  -webkit-line-clamp: unset;
}

.date {
  border-top: 1px solid #ccc;
  font-size: 0.8rem;
}

.date p {
  margin: 0;
}

.btn_delete,
.btn_edit {
  position: absolute;
  padding: 0.5rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: calc(var(--z-content) + var(--z-above));
}

.btn_delete {
  top: 0.5rem;
  right: 0.5rem;
}

.btn_edit {
  top: 3.5rem;
  right: 0.5rem;
}

.body:hover .btn_edit,
.body:hover .btn_delete {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 576px) {
  .btn_edit,
  .btn_delete {
    visibility: visible;
    opacity: 1;
  }
}
